/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@300&family=EB+Garamond:wght@500&family=Quicksand:wght@500&family=Ubuntu:wght@500&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans&display=swap');

/*
font-family: 'Iceland', cursive;
font-family: 'Montserrat', sans-serif;
*/

/* 1 #1B1B1B
2 #000000
3 #2E2E2E
4 

font-family: 'Metal Mania', cursive;
font-family: 'Open Sans', sans-serif;

*/

body {
  background-color: #000;
  margin: 0;
  background-image: url("../misc/martin-sanchez-F_kVoLwFT30-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header.group {
  text-align: center;
  background-color: #2E2E2E;
  padding: 15px;
  border: 2px solid rgb(48, 14, 14);
  border-radius: 15px;
}

h1 {
  margin: auto;
  cursor: default;
  text-align: center;
  font-family: 'Metal Mania', cursive;
  color: rgb(255, 107, 107);
  font-size: 55px;
  background-color: rgb(99, 87, 87);
  padding: 15px;
  border: solid 2px rgb(95, 69, 69);
  border-radius: 6px;
}

h2, p {
  margin: 0;
  font-family: 'Metal Mania', cursive;
  color: rgb(184, 119, 119);
}



ul {
  list-style: none;
  width: auto;
  margin: 8px;
  padding: 5px;
  background-color: rgb(99, 87, 87);
  border: solid 2px rgb(48, 14, 14);
  border-radius: 6px;
}

textarea {
  resize: none;
  width: 220px;
  height: 60px;
}

.collapsed-rating {
  margin-top: 8px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(149, 126, 172);
}

.filterRating {
  background-color: #2e2e2e;
  color: #fff;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  border: transparent #fff;
  padding: 0 3px;
  border-radius: 5px;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12vh;
  padding: 0px;
}

.item {
  flex: 1;
  margin: 0;
}

div.js-header {
  margin-top: 20px;
  flex: 1;
}

#js-add-item.sumbitAndCancel {
  margin-right: 8px;
}

button#js-filterBy.button {
  margin-left: 8px;
}

form#addSection {
  padding-bottom: 43.3vh;
}

form#filterSection {
  padding-top: 2vh;
}

fieldset#addField {
  flex: 1;
  margin-top: 100px;
  border: 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0;
}

legend#addLegend {
  display: table;
  position: relative;
  color: #fff;
  padding: 5px;
  font-size: 30px;
  margin-bottom: 30px;
}

input#js-title-val, input#js-url-val, #js-desc-val, #js-rating-val {
  flex: 1;
}

span {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 3px; */
  justify-content: flex-start;
}

.js-bookmark-element {
  background-color: #2E2E2E;
  margin: 0 5px 10px 5px;
  padding: 15px;
  border: solid 2px;
  border-radius: 5px;
  cursor: grab;
}

.expanded {
  cursor: grab;
}

.js-bookmark-element:hover {
  background-color: rgb(48, 14, 14);
}

label {
  flex: 1;
  justify-content: flex-start;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h2.expanded-title {
  flex: 1;
  font-family: 'Metal Mania', cursive;
  font-size: 24px;
  margin-bottom: 10px;
}

p.expanded {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  margin-top: 8px;
  padding-top: 5px;
  font-size: 20px;
  color: rgb(149, 126, 172);
  border-top: 1px solid;
}

#visit-site.button {
  flex: 1;
  background-color: rgb(47, 47, 131);
}

p.desc-styles-expanded {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 18px 0;
  cursor: text;
  margin-top: 15px;
  border-top: 1px solid rgb(149, 126, 172);
}

button, .button {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(83, 67, 67);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 6px -7px #000;
  cursor: pointer;
  font-size: 19px;
}

.js-delete {
  background-color: rgb(122, 16, 16);
  font-size: 19px;
}

.submit {
  background-color: rgb(18, 88, 18);
  font-size: 19px;
}

.button:hover {
  background-color: #1a1a1a;
  color: #5c5c5c
}

button#js-add-item {
  padding: 1px 6px;
}

#cancel {
  background-color: rgb(122, 16, 16);
  font-size: 19px;
}

.submitAndCancel {
  margin-top: 20px;
  flex: 1;
  justify-content: space-evenly;
}

.errorMessage {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: rgb(155, 147, 147);
  box-shadow: 0 8px 6px -7px #000;
  margin-top: 30px;
  cursor: default;
}

span.errorBox {
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(33, 41, 158)
}

@media all and (min-width: 700px) {
  form#addSection {
    padding-top: 10vh;
    padding-bottom: 53.5vh;
  }
  
}

@media all and (min-width: 1100px) {
  .group {
    flex-direction: row;
    justify-content: space-evenly;
  }

  form#addSection {
    padding: 10px;
    flex: 1;
  }

  fieldset#addField {
    margin-top: 0px;
    border: solid 1px;
    border-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .errorMessage {
    display: block;
  }

  /* li {
    flex:1;
  } */

  ul {
    flex: 1;
    max-width: 65vh;
  }

}